body {
  font-weight: 300;
}
a {
  cursor: pointer;
}
#ipt-search {
  width: 400px;
  border-radius: 4px 0 0 4px;
  border-right: none;
}
#start-search {
  background-color: #3079ED;
  color: #FFF;
  width: 60px;
  border-radius: 0 4px 4px 0;
  border-left: none;
}
#search-input-suggestions {
  position: absolute;
  top: 34px;
  left: 0;
  z-index: 999;
  width: 400px;
  background-color: #fff;
}
#search-input-suggestions .list-group {
  box-shadow: 1px 2px 5px #666;
  border-radius: 0;
}
#search-input-suggestions .list-group-item {
  background-color: #fff;
  height: 24px;
  overflow: hidden;
  word-break: break-all;
  border-radius: 0 !important;
  border: none;
  padding-top: 2px;
  padding-bottom: 2px;
}
#search-input-suggestions .list-group-item:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: #eee;
}
#search-input-suggestions .list-group-item a {
  color: #333;
  display: block;
}
#search-input-suggestions .list-group-item a:hover {
  font-weight: normal;
  text-decoration: none;
}
#search-input-suggestions .keyword {
  background-color: #FFFFE2;
  font-weight: bold;
}
#packages {
  min-height: 300px;
  word-break: break-all;
  font-weight: 300;
}
#packages p {
  margin-bottom: 2px;
  font-weight: normal;
  font-weight: 300;
}
#packages h3 {
  margin-bottom: 0;
  font-weight: normal;
  margin-top: 0;
  font-size: 20px;
}
#packages .keyword {
  background-color: #FFFFE2;
  font-weight: bold;
}
#packages .number {
  font-weight: bold;
}
#packages .author-name {
  font-weight: bold;
}
#packages .list-group-item {
  border: none;
  padding-left: 0;
  padding-right: 0;
}
#packages .list-group-item.highlight {
  border: 1px solid #DDD;
  padding-left: 20px;
  margin-bottom: 0;
  background-color: #FCFDEF;
  color: #000;
}
.page-footer {
  background-color: #F2F2F2;
  padding: 18px 0;
  margin-top: 20px;
  color: #AAA;
  border: 1px solid rgba(0, 0, 0, 0);
}
.page-footer a {
  color: #777;
}
.footer-links a {
  margin-right: 20px;
}
.page-footer-fixed {
  position: fixed;
  width: 100%;
  bottom: 0;
}
#call-to-action {
  background: none;
  border: none;
  margin-top: 50px;
  font-size: 16px;
  cursor: default;
  width: 800px;
}
#packages {
  display: none;
}
.text-github {
  background-color: rgba(60, 118, 61, 0.72);
  color: #FFF;
  display: inline-block;
  font-size: 12px;
  padding: 0 6px;
  border-radius: 4px;
}
