var renderTplPackages = compileTemplate(function () {/*

<p class="text-muted">
  About {{count|escape}} results {% if query %}for "{{query|escape}}"{% endif %}, show {{skip|escape}} to {{skip|plus:limit|escape}}
  ({{spent|ms_to_s|escape}} seconds)
</p>
<ul class="list-group">
  {% for item in list %}
  <li class="list-group-item">
    <h3>
      <a href="https://npmjs.com/package/{{item.name|escape}}" target="_blank">{{item.name|escape}}</a>
      {% if item.author_name %}
      <small>by {{item.author_name|escape}}
        {% if item.author_email %}&lt;<a class="text-muted" href="mailto:{{item.author_email|escape}}">{{item.author_email|escape}}</a>&gt;{% endif %}
      </small>
      {% endif %}
    </h3>
    <div class="row">
      <div class="col-md-8">
        <p class="highlight-keyword">{{item.description|escape}}</p>
        {% if item.keywords %}
        <p class="text-muted">Keywords: 
          {% assign keywords = item.keywords|split:',' %}
          {% for keyword in keywords limit:10 %}
          <a class="text-muted highlight-keyword" href="#!{{keyword|escape}}">{{keyword|escape}}</a>{% unless forloop.last %}, {% endunless %}
          {% endfor %}
          {% if keywords.length > 10 %}
          , and {{keywords.length|minus:10|escape}} more
          {% endif %}
        </p>
        {% endif %}
        {% if item.is_github %}
        <p class="text-muted">
          <span class="text-github"><i class="fa fa-github-square"></i> GitHub</span>
          <span><i class="fa fa-github"></i> stargazers: <span class="number">{{item.star_count|escape}}</span></span>,
          <span><i class="fa fa-code-fork"></i> forks: <span class="number">{{item.fork_count|escape}}</span></span>,
          <span><i class="fa fa-eye"></i> subscribers: <span class="number">{{item.watch_count|escape}}</span></span>
        </p>
        {% endif %}
        <p class="text-muted">
          Links:
          <a href="https://npmjs.com/package/{{item.name|escape}}" target="_blank">NPM</a> -
          {% if item.homepage %}<a href="{{item.homepage|escape}}" target="_blank">HomePage</a> - {% endif %}
          {% if item.repository %}<a href="{{item.repository|escape}}" target="_blank">GitHub</a> - {% endif %}
          {% if item.bugs %}<a href="{{item.bugs|escape}}" target="_blank">Issues</a>{% endif %}
        </p>
      </div>
      <div class="col-md-4">
        
      </div>
    </div>
    <p class="text-muted">
      Version {{item.latest_version|escape}} published at {{item.modified|date:'%Y-%m-%d %H:%M'|escape}}
      {% if item.license %}, License: {{item.license|escape}}{% endif %}
    </p>
  </li>
  {% endfor %}
</ul>
<nav>
  <ul class="pager">
    {% assign skip_previous = skip|minus:limit %}
    {% assign skip_next = skip|plus:limit %}
    {% if skip_previous >= 0 %}
    <li><a class="show-packages-page" data-query="{{query|escape}}" data-skip="{{skip_previous|escape}}" data-limit="{{limit|escape}}">Previous</a></li>
    {% else %}
    <li class="disabled"><a>Previous</a></li>
    {% endif %}
    {% if skip_next < count %}
    <li><a class="show-packages-page" data-query="{{query|escape}}" data-skip="{{skip_next|escape}}" data-limit="{{limit|escape}}">Next</a></li>
    {% else %}
    <li class="disabled"><a>Next</a></li>
    {% endif %}
  </ul>
</nav>

*/});
