var renderTplPackages = compileTemplate(function () {/*

<p class="text-muted">
  {{'About %s results'|i18n:count}}
  {% if query %}{{'for "%s"'|i18n:query|escape}}{% endif %},
  {% assign result_end = skip|plus:limit %}
  {{'show %s to %s'|i18n:skip,result_end}}
  {% assign spent_ms = spent|ms_to_s %}
  ({{'spent %s seconds'|i18n:spent_ms}})
</p>
<ul class="list-group">
  {% for item in list %}
  <li class="list-group-item {% if query == item.name %}highlight{% endif %}">
    <h3>
      <a href="https://npmjs.com/package/{{item.name|escape}}" target="_blank">{{item.name|escape}}</a>
    </h3>
    <div class="row">
      <div class="col-md-8">
        <p class="highlight-keyword">{{item.description|escape}}</p>
        {% if item.keywords %}
        <p class="text-muted">{{'Keywords'|i18n}}: 
          {% assign keywords = item.keywords|split:',' %}
          {% for keyword in keywords limit:10 %}
          <a class="text-muted highlight-keyword" href="#!{{keyword|escape}}">{{keyword|escape}}</a>{% unless forloop.last %}, {% endunless %}
          {% endfor %}
          {% if keywords.length > 10 %}
            {% assign more_keyword_num = keywords.length|minus:10 %}
          , {{'and %s more'|i18n:more_keyword_num}}
          {% endif %}
        </p>
        {% endif %}
        {% if item.is_github %}
        <p class="text-muted">
          <span class="text-github"><i class="fa fa-github-square"></i> GitHub</span>
          <span><i class="fa fa-github"></i> {{'stargazers'|i18n}}: <span class="number">{{item.star_count|escape}}</span></span>,
          <span><i class="fa fa-code-fork"></i> {{'forks'|i18n}}: <span class="number">{{item.fork_count|escape}}</span></span>,
          <span><i class="fa fa-eye"></i> {{"subscribers"|i18n}}: <span class="number">{{item.watch_count|escape}}</span></span>
        </p>
        {% endif %}
        <p class="text-muted">
          {{'Links'|i18n}}:
          <a href="https://npmjs.com/package/{{item.name|escape}}" target="_blank">{{'NPM'|i18n}}</a> -
          {% if item.homepage %}<a href="{{item.homepage|escape}}" target="_blank">{{'HomePage'|i18n}}</a> - {% endif %}
          {% if item.repository %}<a href="{{item.repository|escape}}" target="_blank">{{'GitHub'|i18n}}</a> - {% endif %}
          {% if item.bugs %}<a href="{{item.bugs|escape}}" target="_blank">{{'Issues'|i18n}}</a>{% endif %}
        </p>
      </div>
      <div class="col-md-4">
        
      </div>
    </div>
    <p class="text-muted">
      {{'Version %s published by %s'|i18n:item.latest_version,item.author_name}}
      {% if item.license %}{{'under %s license'|i18n:item.license}}{% endif %}
      {{item.modified|friendly_time|escape}}
    </p>
  </li>
  {% endfor %}
</ul>
<nav>
  <ul class="pager">
    {% assign skip_previous = skip|minus:limit %}
    {% assign skip_next = skip|plus:limit %}
    {% if skip_previous >= 0 %}
    <li><a class="show-packages-page" data-query="{{query|escape}}" data-skip="{{skip_previous|escape}}" data-limit="{{limit|escape}}">{{'Previous'|i18n}}</a></li>
    {% else %}
    <li class="disabled"><a>{{'Previous'|i18n}}</a></li>
    {% endif %}
    {% if skip_next < count %}
    <li><a class="show-packages-page" data-query="{{query|escape}}" data-skip="{{skip_next|escape}}" data-limit="{{limit|escape}}">{{'Next'|i18n}}</a></li>
    {% else %}
    <li class="disabled"><a>{{'Next'|i18n}}</a></li>
    {% endif %}
  </ul>
</nav>

*/});
