<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="utf-8">
    <title>npm.best - Find the best NPM packages</title>
    <!-- jQuery -->
    <script src="{{'/assets/lib/jquery/jquery.min.js'|asset_url}}"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{'/assets/lib/bootstrap/css/bootstrap.min.css'|asset_url}}">
    <script src="{{'/assets/lib/bootstrap/js/bootstrap.min.js'|asset_url}}"></script>
    <!-- sweetalert -->
    <link rel="stylesheet" href="{{'/assets/lib/sweetalert/sweet-alert.css'|asset_url}}">
    <script src="{{'/assets/lib/sweetalert/sweet-alert.min.js'|asset_url}}"></script>
    <!-- tinyliquid -->
    <script src="{{'/assets/lib/tinyliquid/tinyliquid.min.js'|asset_url}}"></script>
    <!-- supercache -->
    <script src="{{'/assets/lib/supercache/supercache.min.js'|asset_url}}"></script>
    <!-- custom -->
    <link rel="stylesheet" href="{{'/assets/css/common.css'|asset_url}}">
    <link rel="stylesheet" href="{{'/assets/css/index.css'|asset_url}}">
    <script src="{{'/assets/js/common.js'|asset_url}}"></script>
    <script src="{{'/assets/js/index.js'|asset_url}}"></script>
    <!-- templates -->
    <script src="/assets/tpl/packages.html"></script>
    <script src="/assets/tpl/search_names.html"></script>
  </head>
  
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://npm.best">Find the best NPM packages</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <div class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" id="ipt-search" placeholder="Search">
                <div class="input-group-btn">
                  <button class="btn btn-default" id="start-search" type="button"><i class="glyphicon glyphicon-search"></i></button>
                </div>
                <div id="search-names"></div>
              </div>
            </div>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="#">Help</a></li>
            <li><a href="https://github.com/npmbest/npm.best/issues" target="_blank">Issues</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container">
  	  <div id="packages"></div>
    </div>
  </body>

</html>
